<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Collaborative Viewing of 3D Models </title>
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<!-- Custom styles-->
	
	<link rel="stylesheet" href="../css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="../css/da-slider.css" />
	<link rel="stylesheet" href="../css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand head-pad" href="welcome.php">
					<img src="../images/logo.png" alt="HENM: 3D Models"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li><a href="welcome.php">Home</a></li>
          <li><a href="courses.html">Courses</a></li>
          <li><a href="overview.php">Models</a></li>
          <li><a href="role.php">ROLE</a></li>
          <li><a href="upload.php">Upload</a></li>
          <li><a href="help.html">Help</a></li>
          <li><a href="login.html">Login</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->
</br></br>
	<header id="head" class="secondary">
		<div class="container">
			<div class="row">
					<h1>Anatomy	</h1>	
					<div class="search_box">
						<form>
							<input type="text" class="text-box" placeholder="Search..."><input type="submit" value="">
						</form>
				</div>
				<br>			
			</div>
		</div>
	</header>
	<div id="courses">
		<section class="container">
			<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Anatomy</h3>
					
					<div class="featured-box">
						<img src="http://placehold.it/700x450"><br><br>
						<div>
							<button class="btn btn-primary btn-lg btn-block" type="button">Edit</button>
							<button class="btn btn-primary btn-lg btn-block" type="button">Role Link</button>
							</div> </br>

						<div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<br>
							<button type="button" class="btn btn-success btn-lg btn-block">Save</button>
						</div>
					</div>
					
				</div>	
				<div class="col-md-8">
					<div><h3>Models</h3></div>
					<button class="btn btn-success" type="button">Add</button>
					<button class="btn btn-success" type="button">Upload</button>
				
					<br><br>
        	<ul class="img-list" id="align-left">
          
	          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
      				<span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
      		</li>

          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

      		<li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

      		<li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>
          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>

          <li><a href="#"><img id="image-over" src="http://placehold.it/150x150" width="150" height="150" />
              <span class="text-content"><span><br>Size: 20 Mb<br> Category: Anatomy</span></span></a>
              <p id="text-over">Skull</p>
          </li>  
        	</ul>
				</div>
			</div>
		</div>	
		</section>
	</div>
	<!-- container -->
	

	<footer id="footer">
		<div class="container">
			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="index.html">Home</a> | 
								<a href="about.html">Courses</a> |
								<a href="courses.html">Models</a> |
								<a href="fees.html">Role</a> |
								<a href="portfolio.html">Upload</a> |
								<a href="contact.html">Help</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								HENM LAB 2014/15: 3D Models
							</p>
							<p class="text-right">Reach us at: <a href="mailto:henm1415g2@dbis.rwth-aachen.de">henm1415g2@dbis.rwth-aachen.de</a></p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->


	<script src="../js/modernizr-latest.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="../js/jquery.cslider.js"></script>
  <script src="../js/custom.js"></script>

</body>
</html>