<footer id="footer">
    <div class="container">
      <div class="clear"></div>
      <!--CLEAR FLOATS-->
    </div>
    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 panel">
            <div class="panel-body">
              <p class="simplenav">
                <a href="index.html">Home</a> | 
                <a href="about.html">Courses</a> |
                <a href="courses.html">Models</a> |
                <a href="fees.html">Role</a> |
                <a href="portfolio.html">Upload</a> |
                <a href="contact.html">Help</a>
              </p>
            </div>
          </div>

          <div class="col-md-6 panel">
            <div class="panel-body">
              <p class="text-right">
                HENM LAB 2014/15: 3D Models
              </p>
              <p class="text-right">Reach us at: <a href="mailto:henm1415g2@dbis.rwth-aachen.de">henm1415g2@dbis.rwth-aachen.de</a></p>
            </div>
          </div>

        </div>
        <!-- /row of panels -->
      </div>
    </div>
  </footer>