<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf8"/>
    <title>RWTH Model Viewer</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1200px) and (min-width: 601px)" href="../css/responsiveform1.css" />
    <link rel="stylesheet" media="screen and (max-width: 600px) and (min-width: 351px)" href="../css/responsiveform2.css" />
    <link rel="stylesheet" media="screen and (max-width: 350px)" href="../css/responsiveform3.css" />
	</head>
	<body>
		<div class="container">
			<header>
				<div class="row">
					<div class="col-md-12">	
					<nav class="nav">
            <ul id="menu">
							<li><a href="home.html"><h1><strong>HENM</strong></h1></a></li>
							<li><a href="...">Upload</a></li>
						</ul>
            </nav>
					</div>
					
				</div>		
				
				<div class="row">
				<div class="col-md-12" style="position:relative; right:20px">		
					<ul id="color">
						<li class="color color-red"></li>
						<li class="color color-yellow"></li>
						<li class="color color-blue"></li>
					</ul>
				</div>	
				</div>
			</header>
			    <div class="row">
           <div id="wrap">
  				<form action="" autocomplete="on">
  					<input id="search" name="search" type="text" placeholder="Which model ?">
  					<input id="search_submit" value="Search" type="submit">
  				</form>
			     </div>
           </div> 
			<div class="row">
    		</div>
    		<div class="row">
      			<div class="col-md-6">
        			<a href="model_viewer_publisher - Copy.html"><img src="http://placehold.it/555x300.gif" alt="warrior" class="img-responsive img-fit"></a>
        			<h3><a href="model_viewer_publisher - Copy.html">Warrior</a></h3>
        		</div>
      			<div class="col-md-6">
        			<a href="http://github.com/"><img src="http://placehold.it/555x300.gif" class="img-responsive"></a>
        			<h3><a href="http://github.com/">Model 2</a></h3>
        		</div>
          </div>
          <div class="row">  
        		<div class="col-md-6">
        			<a href="http://github.com/"><img src="http://placehold.it/555x300.gif" class="img-responsive"></a>
        			<h3><a href="http://github.com/">Model 3</a></h3>
        	  </div>
        		<div class="col-md-6">
        			<a href="http://github.com/"><img src="http://placehold.it/555x300.gif" class="img-responsive"></a>
        			<h3><a href="http://github.com/">Model 4</a></h3>
        		</div>
          </div>
          <div class="row">  
        		<div class="col-md-6">
        			<a href="http://github.com/"><img src="http://placehold.it/555x300.gif" class="img-responsive"></a>
        			<h3><a href="http://github.com/">Model 5</a></h3>
        		</div>
        		<div class="col-md-6">
        			<a href="http://github.com/"><img src="http://placehold.it/555x300.gif" class="img-responsive"></a>
        			<h3><a href="http://github.com/">Model 6</a></h3>
        		</div>
          </div>  
				<footer>
				    <p class="text-center">HENM LAB 2014/15: 3D Models</p>
  					<p class="text-center">Reach us at: <a href="mailto:henm1415g2@dbis.rwth-aachen.de">henm1415g2@dbis.rwth-aachen.de</a></p>
				</footer>


		</div>	
	</body>
</html>