<style>
.key {
	background-image: url(../images/Keyboard_Button.png);
	width:30px;
	height:30px;
	padding:15px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
	margin-right:10px;
  margin-top: 5px;
}
</style>

    <!-- Navigation info: Explanations of mouse usage/hotkeys to navigate the current view will be shown here -->    
    <div id="mainNav">
      <div id="buttonArea">
        <table id="mouseTable">
        <tr id="mouseRow"><td><img src="../images/Mouse.gif"></td><td id="mouse"></td></tr>
        <tr id="mouseLeftRow"><td><img src="../images/Mouse_Left.gif">></td><td id="mouseLeft"></td></tr>
        <tr id="mouseRightRow"><td><img src="../images/Mouse_Right.gif"></td><td id="mouseRight"></td></tr>
        <tr id="mouseWheelScrollRow"><td><img src="../images/Mouse_Wheel_Scroll.gif"></td><td id="mouseWheelScroll"></td></tr>
        <tr id="mouseWheelPressRow"><td><img src="../images/Mouse_Wheel_Press.gif"></td><td id="mouseWheelPress"></td></tr>
        </table>
      
        <table id="buttonTable">
        </table>
      </div>
    </div>
    
    <!-- Script controlling the navigation info -->   
    <script type='text/javascript' src='../js/nav_info.js'> </script>
    