    <!-- Navigation info: Explanations of mouse usage/hotkeys to navigate the current view will be shown here -->    
    <div id="mainNav" class="navigation-overlay">
      <div id="buttonArea">
        <table id="mouseTable">
        <tr id="mouseRow"><td><img src="../images/Mouse.png"></img></td><td id="mouse"></td></tr>
        <tr id="mouseLeftRow"><td><img src="../images/Mouse_Left.png"></img></td><td id="mouseLeft"></td></tr>
        <tr id="mouseRightRow"><td><img src="../images/Mouse_Right.png"></img></td><td id="mouseRight"></td></tr>
        <tr id="mouseWheelScrollRow"><td><img src="../images/Mouse_Wheel_Scroll.png"></img></td><td id="mouseWheelScroll"></td></tr>
        <tr id="mouseWheelPressRow"><td><img src="../images/Mouse_Wheel_Press.png"></img></td><td id="mouseWheelPress"></td></tr>
        </table>

        <table id="buttonTable">
        </table>
      </div>
    </div>
    
    <!-- Script controlling the navigation info -->   
    <script type='text/javascript' src='../js/nav_info.js'> </script>
    