#blackout {
  background-color:#000;
  opacity:.7;
  filter:alpha(opacity=70);
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  display:none;
  cursor:pointer;
}

#modelbox {
  background-color:#ccc;
  border:1px solid #ccc;
  color:#000;
  width:0;
  height:80%;
  position:fixed;
  top:10%;
  left:50%;
  border-radius:20px;
  padding:10px;
  z-index:101;
  display:none;
  overflow: scroll;
}

#closebox {
  background-color:#CC0000;
  color:#FFFFFF;
  padding:8px;
  float:right;
  border-radius:3px;
  cursor:pointer;
  text-transform:uppercase;
  }
