body {
    background-color: white;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

p {
  font-family       : Arial, Sans-Serif;
  font-weight       : bold;
  font-size         : 12px;
  text-transform    : uppercase;

  color             : #C8C8C8;
}

#viewer_object {
    width: 90%;
    height: 90%;
    vertical-align: middle;
    border: 2px;
    border-color: white;
}

#metadata_overlay {
  font-family 	: Arial, sans-serif;
  font-weight 	: bold;
  text-transform: uppercase;
  font-size 	: 10px;
  color 		: #C8C8C8;

  position 		: absolute;
  top 	 		: 8px;
  left 	 		: 32px;

  padding		: 5px;

  width 		: 320px;

  opacity 			: 0.9;
  background-color	: #323232;
  z-index 			: 1000;

  cursor 		: help;
  display: none;
}

#debugText {
  font-size         : 10px;
  background-color  : #323232;
  color             : #FFF;

  position          : absolute;
  bottom            : 0px;
  left              : 24px;
  right             : 24px;

  z-index           : 1000;
  display           : none;
}
